/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:wght@300;400&display=swap');
footer{
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
h1{
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
}
main, .menu, input{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
h2{
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

/* body */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: block;
}

/* header */
header img{
    max-height: 20.625rem;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}
header div{
    background-color: black;
    color: white;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15.5rem;
    margin: 1.125rem 3rem;
}
h1{
    margin: 1.125rem 3.125rem;
}
.menu a{
    color: white;
    text-decoration: none;
}

/* main */
/* first sec */
.gridarea{
    margin: 0 3.125rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.375rem;
    column-gap: 1.75rem;
    font-size: 0.89rem;
}
section{
    min-height: 17.625rem;
}
section > h2{
    text-align: center;
    margin: 1.875rem;
}

/* second sec */
.flex_area1{
    background-color: hsl(0, 0%, 88%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.flex_area1 article{
    height: 26.875rem;
    width: 20rem;
    background-color: white;
    margin: 2.75rem 0;
}
.flex_area1 img{
    height: 15.25rem;
    width: 100%;
    object-fit: cover;
}

/* third sec */
.last{
    position: relative;
}
.last img{
    height: 38.5vw;
    width: 100%;
    object-fit: none;
    object-position: 0% 50%;
}
.last a{
    position: absolute;
    top: 44.65%;
    left: calc((100% - 397.703px) / 2);
    border: white 2px solid;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}
.last p{
    margin: 0.84375rem 1.875rem;
}

/* footer */
footer{
    background-color: rgb(22, 22, 22);
    height: 300px;
}
footer a, footer p{
    color: rgb(106, 106, 106);
}
.iconer{
    margin-left: 93%;
    margin-top: 2%;
}
.flex_area3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30%;
}
.flex_area3 div{
    display: flex;
    flex-direction: column;
}

/* more stuff */
header, footer{
    width: 100%;
}