/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:wght@300;400&display=swap');
footer{
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
h1{
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
}
main{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
h2{
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}