/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:wght@300;400&display=swap');
footer{
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
h1{
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
}
main, .menu, input{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
h2{
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

/* body */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > *{
    width: 100%;
    max-width: 1100px;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: block;
}

/* header */
header img{
    max-height: 330px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}
header div{
    background-color: black;
    color: white;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 248px;
    margin: 18px 48px;
}
h1{
    margin: 18px 50px;
}
.menu a{
    color: white;
    text-decoration: none;
}

/* main */
/* first sec */
.gridarea{
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 22px;
    column-gap: 28px;
    font-size: 14.25px;
}
section{
    min-height: 282px;
}
section > h2{
    text-align: center;
    margin: 30px;
}

/* second sec */
.flex_area1{
    background-color: hsl(0, 0%, 88%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.flex_area1 article{
    height: 431px;
    width: 320px;
    background-color: white;
    margin: 44px 0;
}
.flex_area1 img{
    height: 244px;
    width: 100%;
    object-fit: cover;
}

/* third sec */
.last{
    position: relative;
}
.last img{
    height: 431px;
    width: 100%;
    object-fit:none;
    object-position: 0% 50%;
}
.last a{
    position: absolute;
    top: 192px;
    left: 351.156px;
    border: white 2px solid;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}
.last p{
    margin: 13.5px 30px;
}

/* footer */
footer{
    background-color: rgb(22, 22, 22);
    height: 393px;
}
footer a, footer p{
    color: rgb(106, 106, 106);
}
.iconer{
    margin-left: 93%;
    margin-top: 2%;
}
.flex_area3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30%;
}
.flex_area3 div{
    display: flex;
    flex-direction: column;
}